
<div class="matchup">
  <div class="vs">vs.</div>
  <div class="row jimmy">
  <div class="col-xs-12 top">
    <img ng-src="shared/images/ntwks/{{matchUp.tv}}.png" class="ntwk" alt="">
    <span class="date">
      {{matchUp.date.slice(0,10)}}
    </span>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-6 team away">
      <div class="name">
        <h3><span class="grey">{{ matchUp.away.rank }} </span>{{ matchUp.away.name }}</h3>
      </div>
      <div class="shield">
        <img ng-src="shared/images/{{matchUp.away.imgPath}}" class="logo" alt="">
        <div class="record">
          ({{ matchUp.away.wins }}-{{ matchUp.away.losses }})
        </div>
      </div>

    </div>
    <div class="col-xs-6 team home">
      <div class="name">
        <h3><span class="grey">{{ matchUp.home.rank }}</span> {{ matchUp.home.name }}</h3>
      </div>
      <div class="shield">
        <img ng-src="shared/images/{{matchUp.home.imgPath}}" class="logo" alt="">
        <div class="record">
          ({{ matchUp.home.wins }}-{{ matchUp.home.losses }})
        </div>
      </div>
    </div>
  </div>
  <div class="row jimmy">
    <div class="col-xs-12">
      tags:
      <img ng-click="blah()" ng-src="shared/images/tags/rivalry{{toggleRiv ? '_on' : ''}}.png" class="tags" alt="">
      <img ng-click="!matchUp.tags.playoffImplications" ng-src="shared/images/tags/playoffs{{matchUp.tags.playoffImplications ? '_on' : ''}}.png" class="tags" alt="">
      <img ng-src="shared/images/tags/favorite{{toggleFav ? '_on' : ''}}.png" class="tags" alt="">
      <img ng-src="shared/images/{{matchUp.league}}.png" class="league" alt="">
    </div>
  </div>
</div>

<div class="clear"></div>
<!-- , , date: {{matchUp.date}} (id: {{ matchUp._id }}) -->
