// @import "variables.less";
// @import "mixins.less";
@import "bootstrap";
html, body {
  font-family: 'Fira Sans', sans-serif;
}
//test
div.clear {
  clear: both;
}

div.main {
  margin: 1%;
}

h3.time-filter a {
  color: rgb(79, 79, 79);
}

div.slate {
  width: 84%;
  margin: 1% auto;
  padding: 1%;
  // background-color: rgba(54, 54, 85, 0.77);
}
matchup {
  margin: 1% auto;
  padding: 1%;
  display: block;
  width: 94%;
  background-color: rgb(238, 238, 238);

  div.vs {
    text-align: center;
    position: relative;
    top: 108px;
  }
  img.league {
    max-height: 43px;
    width: auto;
    float: right;
  }
  div.team {
    text-align: center;
    div.name {
      text-align: center;
      clear: both;
      span.grey {
        color: rgb(106, 106, 106);
        margin-right: 2px;
      }
    }
    img.logo {
      width: 20%;
    }

  }

 //test
}
